<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17E199</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AX88179_178A</string>
	<key>CFBundleGetInfoString</key>
	<string>ASIX AX88179/178A USB3.0/2.0 Gigabit Ethernet driver</string>
	<key>CFBundleIdentifier</key>
	<string>com.asix.driver.ax88179-178a</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AX88179_178A</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.12.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.12.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9E145</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>14D125</string>
	<key>DTSDKName</key>
	<string>macosx10.10</string>
	<key>DTXcode</key>
	<string>0930</string>
	<key>DTXcodeBuild</key>
	<string>9E145</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Belkin</key>
		<dict>
			<key>AllowGigabit</key>
			<integer>1</integer>
			<key>CFBundleIdentifier</key>
			<string>com.asix.driver.ax88179-178a</string>
			<key>IOClass</key>
			<string>AX88179</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>InputBuffers</key>
			<integer>4</integer>
			<key>OutputBuffers</key>
			<integer>8</integer>
			<key>bConfigurationValue</key>
			<integer>2</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>296</integer>
			<key>idVendor</key>
			<integer>1293</integer>
		</dict>
		<key>MCT</key>
		<dict>
			<key>AllowGigabit</key>
			<integer>1</integer>
			<key>CFBundleIdentifier</key>
			<string>com.asix.driver.ax88179-178a</string>
			<key>IOClass</key>
			<string>AX88179</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>InputBuffers</key>
			<integer>4</integer>
			<key>OutputBuffers</key>
			<integer>8</integer>
			<key>bConfigurationValue</key>
			<integer>2</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>377</integer>
			<key>idVendor</key>
			<integer>1809</integer>
		</dict>
		<key>POP FPGA</key>
		<dict>
			<key>AllowGigabit</key>
			<integer>1</integer>
			<key>CFBundleIdentifier</key>
			<string>com.asix.driver.ax88179-178a</string>
			<key>IOClass</key>
			<string>AX88179</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>InputBuffers</key>
			<integer>4</integer>
			<key>OutputBuffers</key>
			<integer>8</integer>
			<key>bConfigurationValue</key>
			<integer>2</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>6032</integer>
			<key>idVendor</key>
			<integer>2965</integer>
		</dict>
		<key>POP FPGA - Force 2.0</key>
		<dict>
			<key>AllowGigabit</key>
			<integer>1</integer>
			<key>CFBundleIdentifier</key>
			<string>com.asix.driver.ax88179-178a</string>
			<key>IOClass</key>
			<string>AX88179</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>InputBuffers</key>
			<integer>4</integer>
			<key>OutputBuffers</key>
			<integer>8</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>6026</integer>
			<key>idVendor</key>
			<integer>2965</integer>
		</dict>
		<key>Sitecom_LN-032</key>
		<dict>
			<key>AllowGigabit</key>
			<integer>1</integer>
			<key>CFBundleIdentifier</key>
			<string>com.asix.driver.ax88179-178a</string>
			<key>IOClass</key>
			<string>AX88179</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>InputBuffers</key>
			<integer>4</integer>
			<key>OutputBuffers</key>
			<integer>8</integer>
			<key>bConfigurationValue</key>
			<integer>2</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>114</integer>
			<key>idVendor</key>
			<integer>3574</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.1.0</string>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>1.9.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Network-Root</string>
</dict>
</plist>
