<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>Add</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>SSDT-CPUF.aml</string>
				<key>Path</key>
				<string>SSDT-CPUF.aml</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-PMCR.aml</string>
				<key>Path</key>
				<string>SSDT-PMCR.aml</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-UIAC.aml</string>
				<key>Path</key>
				<string>SSDT-UIAC.aml</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-XOSI.aml</string>
				<key>Path</key>
				<string>SSDT-XOSI.aml</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-BATT.aml</string>
				<key>Path</key>
				<string>SSDT-BATT.aml</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-USBX.aml</string>
				<key>Path</key>
				<string>SSDT-USBX.aml</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-NVME.aml</string>
				<key>Path</key>
				<string>SSDT-NVME.aml</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-SLPB.aml</string>
				<key>Path</key>
				<string>SSDT-SLPB.aml</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-PLUG.aml</string>
				<key>Path</key>
				<string>SSDT-PLUG.aml</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-PNLF.aml</string>
				<key>Path</key>
				<string>SSDT-PNLF.aml</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-SBUS-MCHC.aml</string>
				<key>Path</key>
				<string>SSDT-SBUS-MCHC.aml</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-DMAC.aml</string>
				<key>Path</key>
				<string>SSDT-DMAC.aml</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-MEM2.aml</string>
				<key>Path</key>
				<string>SSDT-MEM2.aml</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-CDEC.aml</string>
				<key>Path</key>
				<string>SSDT-CDEC.aml</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-DLAN.aml</string>
				<key>Path</key>
				<string>SSDT-DLAN.aml</string>
				<key>Enabled</key>
				<true/>
			</dict>
		</array>
		<key>Patch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>battery - change EC0 to EC</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>RUMwXw==</data>
				<key>Replace</key>
				<data>RUNfXw==</data>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data></data>
				<key>OemTableId</key>
				<data></data>
				<key>ReplaceMask</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
				<key>TableLength</key>
				<integer>0</integer>
				<key>TableSignature</key>
				<data>RFNEVA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>trackpad - change _OSI to XOSI</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>X09TSQ==</data>
				<key>Replace</key>
				<data>WE9TSQ==</data>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data></data>
				<key>OemTableId</key>
				<data></data>
				<key>ReplaceMask</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
				<key>TableLength</key>
				<integer>0</integer>
				<key>TableSignature</key>
				<data>RFNEVA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>sleep - fix GPRW(0x6d,0x04) instant wake</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>R1BSVwptCgQ=</data>
				<key>Replace</key>
				<data>R1BSVwptCgA=</data>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data></data>
				<key>OemTableId</key>
				<data></data>
				<key>ReplaceMask</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
				<key>TableLength</key>
				<integer>0</integer>
				<key>TableSignature</key>
				<data>RFNEVA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>battery - _BIF to XBIF (in BAT0)</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>FEwQX0JJRg==</data>
				<key>Replace</key>
				<data>FEwQWEJJRg==</data>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data></data>
				<key>OemTableId</key>
				<data></data>
				<key>ReplaceMask</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
				<key>TableLength</key>
				<integer>0</integer>
				<key>TableSignature</key>
				<data>RFNEVA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>battery - _BST to XBST (in BAT0)</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>FEQKX0JTVA==</data>
				<key>Replace</key>
				<data>FEQKWEJTVA==</data>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data></data>
				<key>OemTableId</key>
				<data></data>
				<key>ReplaceMask</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
				<key>TableLength</key>
				<integer>0</integer>
				<key>TableSignature</key>
				<data>RFNEVA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>sleep - fix auto sleep by setting LIDS to One at the end of RWAK</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>e2AKBGB6YAoCYHBgTElEU4Zc</data>
				<key>Replace</key>
				<data>e2AKBGB6YAoCYHABTElEU4Zc</data>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data></data>
				<key>OemTableId</key>
				<data></data>
				<key>ReplaceMask</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
				<key>TableLength</key>
				<integer>0</integer>
				<key>TableSignature</key>
				<data>RFNEVA==</data>
			</dict>
		</array>
	</dict>
	<key>Booter</key>
	<dict>
		<key>Quirks</key>
		<dict>
			<key>AvoidRuntimeDefrag</key>
			<true/>
			<key>DevirtualiseMmio</key>
			<false/>
			<key>DisableVariableWrite</key>
			<false/>
			<key>DisableSingleUser</key>
			<false/>
			<key>DiscardHibernateMap</key>
			<false/>
			<key>EnableSafeModeSlide</key>
			<true/>
			<key>EnableWriteUnprotector</key>
			<true/>
			<key>ForceExitBootServices</key>
			<false/>
			<key>ProtectCsmRegion</key>
			<false/>
			<key>ProvideCustomSlide</key>
			<true/>
			<key>SetupVirtualMap</key>
			<true/>
			<key>ShrinkMemoryMap</key>
			<false/>
		</dict>
	</dict>
	<key>DeviceProperties</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>device-id</key>
				<data>G1kAAA==</data>
				<key>framebuffer-patch-enable</key>
				<integer>1</integer>
				<key>framebuffer-con1-enable</key>
				<integer>1</integer>
				<key>enable-hdmi20</key>
				<integer>1</integer>
				<key>framebuffer-unifiedmem</key>
				<data>AAAAgA==</data>
				<key>framebuffer-con1-alldata</key>
				<data>AQUJAAAEAACHAQAA</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x3)</key>
			<dict>
				<key>alc-layout-id</key>
				<integer>29</integer>
				<key>AFGLowPowerState</key>
				<integer>3</integer>
			</dict>
		</dict>
	</dict>
	<key>Kernel</key>
	<dict>
		<key>Add</key>
		<array>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MatchKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/Lilu</string>
				<key>BundlePath</key>
				<string>Lilu.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MatchKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VirtualSMC</string>
				<key>BundlePath</key>
				<string>VirtualSMC.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MatchKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/WhateverGreen</string>
				<key>BundlePath</key>
				<string>WhateverGreen.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MatchKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/AppleALC</string>
				<key>BundlePath</key>
				<string>AppleALC.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MatchKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/USBInjectAll</string>
				<key>BundlePath</key>
				<string>USBInjectAll.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MatchKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooI2CServices</string>
				<key>BundlePath</key>
				<string>VoodooI2C.kext/Contents/PlugIns/VoodooI2CServices.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MatchKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooGPIO</string>
				<key>BundlePath</key>
				<string>VoodooI2C.kext/Contents/PlugIns/VoodooGPIO.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MatchKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooI2C</string>
				<key>BundlePath</key>
				<string>VoodooI2C.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MatchKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooI2CHID</string>
				<key>BundlePath</key>
				<string>VoodooI2CHID.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MatchKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/CPUFriend</string>
				<key>BundlePath</key>
				<string>CPUFriend.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MatchKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/SMCProcessor</string>
				<key>BundlePath</key>
				<string>SMCProcessor.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MatchKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/SMCBatteryManager</string>
				<key>BundlePath</key>
				<string>SMCBatteryManager.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MatchKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/BrcmFirmwareData</string>
				<key>BundlePath</key>
				<string>BrcmFirmwareData.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MatchKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string></string>
				<key>BundlePath</key>
				<string>BrcmBluetoothInjector.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MatchKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/BrcmPatchRAM2</string>
				<key>BundlePath</key>
				<string>BrcmPatchRAM2.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MatchKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/AirportBrcmFixup</string>
				<key>BundlePath</key>
				<string>AirportBrcmFixup.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MatchKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/NoTouchID</string>
				<key>BundlePath</key>
				<string>NoTouchID.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MatchKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/CodecCommander</string>
				<key>BundlePath</key>
				<string>CodecCommander.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MatchKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/SystemProfilerMemoryFixup</string>
				<key>BundlePath</key>
				<string>SystemProfilerMemoryFixup.kext</string>
			</dict>
		</array>
		<key>Quirks</key>
		<dict>
			<key>DisableIoMapper</key>
			<true/>
			<key>PanicNoKextDump</key>
			<true/>
		</dict>
	</dict>
	<key>Misc</key>
	<dict>
		<key>Boot</key>
		<dict>
			<key>ConsoleBehaviourOs</key>
			<string>ForceGraphics</string>
			<key>ConsoleBehaviourUi</key>
			<string>ForceText</string>
			<key>ShowPicker</key>
			<true/>
			<key>UsePicker</key>
			<true/>
			<key>Timeout</key>
			<integer>3</integer>
			<key>Resolution</key>
			<string>3200x1800</string>
		</dict>
		<key>Security</key>
		<dict>
			<key>RequireSignature</key>
			<false/>
			<key>RequireVault</key>
			<false/>
		</dict>
		<key>Tools</key>
		<array>
			<dict>
				<key>Name</key>
				<string>UEFI Shell</string>
				<key>Comment</key>
				<string>Not signed for security reasons</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>Shell64U.efi</string>
			</dict>
		</array>
	</dict>
	<key>NVRAM</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
			<dict>
				<key>boot-args</key>
				<string>lilucpu=9 -v debug=0x100</string>
				<key>csr-active-config</key>
				<data>ZwAAAA==</data>
			</dict>
			<key>4D1EDE05-38C7-4A6A-9CC6-4BCCA8B38C14</key>
			<dict>
				<key>UIScale</key>
				<integer>2</integer>
			</dict>
		</dict>
	</dict>
	<key>PlatformInfo</key>
	<dict>
		<key>Automatic</key>
		<true/>
		<key>Generic</key>
		<dict>
			<key>MLB</key>
			<string>C02828902QXJH4R1H</string>
			<key>ROM</key>
			<data>ESIzAAAA</data>
			<key>SpoofVendor</key>
			<true/>
			<key>SystemProductName</key>
			<string>MacBookPro15,2</string>
			<key>SystemSerialNumber</key>
			<string>C02X20B6JHCD</string>
			<key>SystemUUID</key>
			<string>4DE95146-33D0-4CF6-9949-98184271D9D9</string>
		</dict>
		<key>UpdateDataHub</key>
		<true/>
		<key>UpdateNVRAM</key>
		<true/>
		<key>UpdateSMBIOS</key>
		<true/>
		<key>UpdateSMBIOSMode</key>
		<string>Create</string>
	</dict>
	<key>UEFI</key>
	<dict>
		<key>ConnectDrivers</key>
		<true/>
		<key>Drivers</key>
		<array>
			<string>HFSPlus.efi</string>
			<string>ApfsDriverLoader.efi</string>
			<string>FwRuntimeServices.efi</string>
		</array>
		<key>Quirks</key>
		<dict>
			<key>AvoidHighAlloc</key>
			<false/>
			<key>ClearScreenOnModeSwitch</key>
			<false/>
			<key>ExitBootServicesDelay</key>
			<integer>0</integer>
			<key>IgnoreInvalidFlexRatio</key>
			<false/>
			<key>IgnoreTextInGraphics</key>
			<true/>
			<key>ProvideConsoleGop</key>
			<true/>
			<key>ReleaseUsbOwnership</key>
			<true/>
			<key>ReplaceTabWithSpace</key>
			<false/>
			<key>RequestBootVarRouting</key>
			<false/>
			<key>SanitiseClearScreen</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>